body {
  margin: 0;
  line-height: normal;
}
.div20 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1920px;
  height: 120px;
}
.tgv-logo-icon2 {
  position: absolute;
  top: 30.13px;
  left: 40px;
  width: 120px;
  height: 59.73px;
  object-fit: cover;
}
.tgv-b2,
.tu-golden-village2 {
  position: absolute;
  display: inline-block;
}
.tgv-b2 {
  top: 0;
  left: calc(50% - 35px);
}
.tu-golden-village2 {
  bottom: 0;
  left: 0;
  font-size: var(--font-size-lg);
}
.div21 {
  position: absolute;
  top: 26px;
  left: 881px;
  width: 158px;
  height: 74px;
  font-size: var(--font-size-2xl);
}
.logout-div1 {
  top: calc(50% - 13.5px);
  left: calc(50% - 30.5px);
  display: inline-block;
}
.div22,
.div24,
.logout-div1 {
  position: absolute;
}
.div22 {
  top: 40px;
  right: 40px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-600);
  width: 111px;
  height: 41px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.div24 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
}
.b50,
.div25,
.div26,
.div27 {
  position: absolute;
  top: calc(50% - 144px);
  left: calc(50% - 298px);
  display: inline-block;
}
.div25,
.div26,
.div27 {
  top: calc(50% - 89px);
  font-size: var(--font-size-2xs);
}
.div26,
.div27 {
  left: calc(50% - 144px);
}
.div27 {
  top: calc(50% - 63px);
  left: calc(50% - 298px);
}
.p {
  margin: 0;
}
.div28 {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 298px);
  font-size: var(--font-size-3xs);
  display: inline-block;
}
.div29,
.div30 {
  position: absolute;
  left: calc(50% + 22px);
}
.div29 {
  top: calc(50% - 106px);
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  width: 165px;
  height: 88px;
}
.div30 {
  bottom: 40px;
}
.div30,
.div31,
.div32,
.div33 {
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  width: 165px;
  height: 88px;
}
.div31 {
  position: absolute;
  top: calc(50% + 3px);
  left: calc(50% + 22px);
}
.div32,
.div33 {
  left: calc(50% + 207px);
}
.div32 {
  position: absolute;
  top: calc(50% - 106px);
}
.div33 {
  bottom: 40px;
}
.div33,
.div34,
.div35 {
  position: absolute;
}
.div34 {
  top: calc(50% + 3px);
  left: calc(50% + 207px);
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  width: 165px;
  height: 88px;
}
.div35 {
  top: calc(50% - 106px);
}
.div35,
.div36,
.div37 {
  right: 56px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  width: 165px;
  height: 88px;
}
.div36 {
  position: absolute;
  bottom: 40px;
}
.div37 {
  top: calc(50% + 3px);
}
.b51,
.div37,
.icon {
  position: absolute;
}
.icon {
  bottom: 40px;
  left: 43px;
  border-radius: var(--br-sm);
  width: 242px;
  height: 344px;
  object-fit: cover;
}
.b51 {
  top: calc(50% - 151px);
  left: calc(50% + 64px);
  display: inline-block;
}
.span1 {
  color: var(--color-gray-300);
}
.div38 {
  left: calc(50% + 67px);
}
.div38,
.div39,
.div40 {
  position: absolute;
  top: calc(50% - 55px);
  display: inline-block;
}
.div39 {
  left: calc(50% + 252px);
}
.div40 {
  right: 99px;
}
.div41 {
  right: 99px;
  bottom: 55px;
}
.div41,
.div42,
.div43,
.div44 {
  position: absolute;
  display: inline-block;
}
.div42 {
  top: calc(50% + 52px);
  right: 99px;
}
.div43,
.div44 {
  left: calc(50% + 251px);
}
.div43 {
  bottom: 55px;
}
.div44 {
  top: calc(50% + 52px);
}
.div45,
.div46 {
  left: calc(50% + 64px);
}
.div45 {
  position: absolute;
  bottom: 55px;
  display: inline-block;
}
.div46 {
  top: calc(50% + 52px);
}
.b52,
.b53,
.div46 {
  position: absolute;
  display: inline-block;
}
.b52 {
  top: calc(50% - 151px);
  left: calc(50% + 146px);
  color: var(--color-gray-300);
}
.b53 {
  left: calc(50% + 105px);
}
.b53,
.b54,
.b55 {
  top: calc(50% - 151px);
  color: var(--color-gray-300);
}
.b54 {
  position: absolute;
  left: calc(50% + 187px);
  display: inline-block;
}
.b55 {
  left: calc(50% + 228px);
}
.b55,
.b56,
.div47 {
  position: absolute;
  display: inline-block;
}
.b56 {
  top: calc(50% - 151px);
  left: calc(50% + 269px);
  color: var(--color-gray-300);
}
.div47 {
  top: 76px;
  left: calc(50% + 64px);
  font-size: var(--font-size-3xs);
}
.color-icon3 {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 3.4px);
  width: 7.4px;
  height: 12px;
}
.iconnavigationchevron-right-div {
  position: absolute;
  top: calc(50% - 151px);
  left: calc(50% + 300px);
  width: 24px;
  height: 24px;
}
.boundary-div {
  position: absolute;
  height: calc(100% - 456px);
  width: calc(100% - 1202px);
  top: 90px;
  right: 559px;
  bottom: 366px;
  left: 643px;
  transform: rotate(180deg);
}
.color-icon4 {
  position: absolute;
  top: calc(50% - 144px);
  left: calc(50% + 38px);
  width: 7.4px;
  height: 12px;
}
.tgv-b3 {
  top: 0;
  left: 0;
  display: inline-block;
}
.div48,
.div49,
.tgv-b3 {
  position: absolute;
}
.div48 {
  top: 28px;
  left: 43px;
  width: 70px;
  height: 48px;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-1000);
}
.div49 {
  top: calc(50% - 94px);
  left: calc(50% + 74px);
}
.div49,
.div50,
.div51,
.div52 {
  width: 62px;
  height: 32px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-1000);
}
.div50 {
  position: absolute;
  top: calc(50% - 94px);
  left: calc(50% + 259px);
}
.div51,
.div52 {
  right: 108px;
}
.div51 {
  position: absolute;
  top: calc(50% - 94px);
}
.div52 {
  top: calc(50% + 122px);
}
.div52,
.div53,
.div54 {
  position: absolute;
}
.div53 {
  top: calc(50% + 13px);
  right: 108px;
  width: 62px;
  height: 32px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-1000);
}
.div54 {
  top: calc(50% + 122px);
  left: calc(50% + 258px);
}
.div54,
.div55,
.div56 {
  width: 62px;
  height: 32px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-1000);
}
.div55 {
  position: absolute;
  top: calc(50% + 13px);
  left: calc(50% + 258px);
}
.div56 {
  top: calc(50% + 122px);
  left: calc(50% + 71px);
}
.div23,
.div56,
.div57 {
  position: absolute;
}
.div57 {
  top: calc(50% + 13px);
  left: calc(50% + 71px);
  width: 62px;
  height: 32px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-1000);
}
.div23 {
  top: 351px;
  left: 347px;
  width: 1226px;
  height: 480px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.div58 {
  top: 120px;
  left: 1px;
  background-color: var(--color-gray-1200);
  width: 1920px;
  height: 960px;
}
.div58,
.div59,
.seat-b {
  position: absolute;
}
.div59 {
  top: 368px;
  left: 652px;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  width: 617px;
  height: 446px;
}
.seat-b {
  top: 387px;
  left: 929px;
  font-size: 30px;
  display: inline-block;
}
.span10 {
  color: var(--color-gray-1000);
}
.div60,
.div61 {
  position: absolute;
  display: inline-block;
}
.div60 {
  top: 426px;
  left: 1156px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
}
.div61 {
  top: 431px;
  left: 705px;
}
.a-div,
.div62,
.div63,
.div64,
.div65,
.div66 {
  position: absolute;
  top: 524px;
  left: 680px;
  display: inline-block;
}
.div62,
.div63,
.div64,
.div65,
.div66 {
  top: 740px;
  left: 724px;
}
.div63,
.div64,
.div65,
.div66 {
  left: 785px;
}
.div64,
.div65,
.div66 {
  left: 846px;
}
.div65,
.div66 {
  left: 905px;
}
.div66 {
  left: 966px;
}
.b-div,
.c-div,
.d-div,
.div67,
.div68,
.div69,
.div70 {
  position: absolute;
  top: 740px;
  left: 1025px;
  display: inline-block;
}
.b-div,
.c-div,
.d-div,
.div68,
.div69,
.div70 {
  left: 1086px;
}
.b-div,
.c-div,
.d-div,
.div69,
.div70 {
  left: 1145px;
}
.b-div,
.c-div,
.d-div,
.div70 {
  left: 1206px;
}
.b-div,
.c-div,
.d-div {
  top: 583px;
  left: 680px;
}
.c-div,
.d-div {
  top: 642px;
  left: 681px;
}
.d-div {
  top: 704px;
}
.div71,
.div72,
.div73 {
  position: absolute;
  left: 705px;
}
.div71 {
  top: 504px;
  border-radius: var(--br-md);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
}
.div72,
.div73 {
  top: 462px;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-100);
  width: 530px;
  height: 32px;
}
.div73 {
  top: 771px;
  left: 892px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gray-1000);
  width: 134px;
  cursor: pointer;
}
.div74,
.div75,
.div76,
.div77,
.div78,
.div79,
.div80,
.div81,
.div82,
.div83,
.div84 {
  position: absolute;
  top: 504px;
  left: 765px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  width: 50px;
  height: 50px;
}
.div75,
.div76,
.div77,
.div78,
.div79,
.div80,
.div81,
.div82,
.div83,
.div84 {
  left: 825px;
}
.div76,
.div77,
.div78,
.div79,
.div80,
.div81,
.div82,
.div83,
.div84 {
  left: 885px;
}
.div77,
.div78,
.div79,
.div80,
.div81,
.div82,
.div83,
.div84 {
  left: 945px;
}
.div78,
.div79,
.div80,
.div81,
.div82,
.div83,
.div84 {
  left: 1005px;
}
.div79,
.div80,
.div81,
.div82,
.div83,
.div84 {
  left: 1065px;
}
.div80,
.div81,
.div82,
.div83,
.div84 {
  left: 1125px;
}
.div81,
.div82,
.div83,
.div84 {
  left: 1185px;
}
.div82,
.div83,
.div84 {
  top: 564px;
  left: 705px;
}
.div83,
.div84 {
  left: 765px;
}
.div84 {
  left: 825px;
}
.div85 {
  top: 564px;
  left: 885px;
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
}
.div85,
.div86,
.div87 {
  position: absolute;
  border-radius: var(--br-md);
  width: 50px;
  height: 50px;
}
.div86 {
  top: 564px;
  left: 945px;
  background-color: var(--color-gray-100);
}
.div87 {
  left: 1005px;
}
.div87,
.div88,
.div89 {
  top: 564px;
  background-color: var(--color-gray-100);
}
.div88 {
  position: absolute;
  left: 1065px;
  border-radius: var(--br-md);
  width: 50px;
  height: 50px;
}
.div89 {
  left: 1125px;
}
.div89,
.div90,
.div91 {
  position: absolute;
  border-radius: var(--br-md);
  width: 50px;
  height: 50px;
}
.div90 {
  top: 564px;
  left: 1185px;
  background-color: var(--color-gray-100);
}
.div91 {
  top: 624px;
  left: 705px;
}
.div91,
.div92,
.div93 {
  background-color: var(--color-gray-100);
}
.div92 {
  position: absolute;
  top: 624px;
  left: 765px;
  border-radius: var(--br-md);
  width: 50px;
  height: 50px;
}
.div93 {
  left: 825px;
}
.div93,
.div94,
.div95,
.div96 {
  position: absolute;
  top: 624px;
  border-radius: var(--br-md);
  width: 50px;
  height: 50px;
}
.div94 {
  left: 885px;
  background-color: var(--color-gray-100);
}
.div95,
.div96 {
  left: 945px;
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
}
.div96 {
  left: 1005px;
}
.div100,
.div101,
.div102,
.div103,
.div104,
.div105,
.div106,
.div107,
.div108,
.div97,
.div98,
.div99 {
  position: absolute;
  top: 624px;
  left: 1065px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  width: 50px;
  height: 50px;
}
.div100,
.div101,
.div102,
.div103,
.div104,
.div105,
.div106,
.div107,
.div108,
.div98,
.div99 {
  left: 1125px;
}
.div100,
.div101,
.div102,
.div103,
.div104,
.div105,
.div106,
.div107,
.div108,
.div99 {
  left: 1185px;
}
.div100,
.div101,
.div102,
.div103,
.div104,
.div105,
.div106,
.div107,
.div108 {
  top: 684px;
  left: 705px;
}
.div101,
.div102,
.div103,
.div104,
.div105,
.div106,
.div107,
.div108 {
  left: 765px;
}
.div102,
.div103,
.div104,
.div105,
.div106,
.div107,
.div108 {
  left: 825px;
}
.div103,
.div104,
.div105,
.div106,
.div107,
.div108 {
  left: 885px;
}
.div104,
.div105,
.div106,
.div107,
.div108 {
  left: 945px;
}
.div105,
.div106,
.div107,
.div108 {
  left: 1005px;
}
.div106,
.div107,
.div108 {
  left: 1065px;
}
.div107,
.div108 {
  left: 1125px;
}
.div108 {
  left: 1185px;
}
.div109,
.screen-div {
  position: absolute;
  top: 463px;
  left: 929px;
  font-size: var(--font-size-lg);
  display: inline-block;
}
.div109 {
  top: 778px;
  left: 932px;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.color-icon5 {
  position: absolute;
  height: calc(100% - 11.31px);
  width: calc(100% - 11.31px);
  top: 6.36px;
  right: 6.36px;
  bottom: 4.95px;
  left: 4.95px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div110 {
  position: absolute;
  top: 390.03px;
  left: 1205.03px;
  width: 33.94px;
  height: 33.94px;
  cursor: pointer;
}
.afterlogin-moviepagemovieta-div {
  position: relative;
  background-color: var(--color-gray-800);
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-1000);
  font-family: var(--font-roboto);
}
