body {
  margin: 0;
  line-height: normal;
}
.div144 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1920px;
  height: 120px;
}
.tgv-logo-icon5 {
  position: absolute;
  top: 30.13px;
  left: 40px;
  width: 120px;
  height: 59.73px;
  object-fit: cover;
}
.tgv-b6,
.tu-golden-village5 {
  position: absolute;
  display: inline-block;
}
.tgv-b6 {
  top: 0;
  left: calc(50% - 35px);
}
.tu-golden-village5 {
  bottom: 0;
  left: 0;
  font-size: var(--font-size-lg);
}
.div145 {
  position: absolute;
  top: 26px;
  left: 881px;
  width: 158px;
  height: 74px;
  font-size: var(--font-size-2xl);
}
.logout-div4 {
  top: calc(50% - 13.5px);
  left: calc(50% - 30.5px);
  display: inline-block;
}
.div146,
.div147,
.logout-div4 {
  position: absolute;
}
.div146 {
  top: 40px;
  right: 40px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-600);
  width: 111px;
  height: 41px;
  color: var(--color-white);
}
.div147 {
  top: 346px;
  left: 295px;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  width: 1330px;
  height: 492px;
}
.review-b {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.div148 {
  position: absolute;
  top: 381px;
  left: 902px;
  width: 116px;
  height: 48px;
  font-size: var(--font-size-2xl);
}
.div149,
.div150,
.div151,
.div152 {
  position: absolute;
  top: 523px;
  left: 346px;
  border-radius: var(--br-lg);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 1228px;
  height: 263px;
}
.div150,
.div151,
.div152 {
  top: 465px;
  left: 427px;
  border-radius: var(--br-sm);
  width: 538px;
  height: 42px;
}
.div151,
.div152 {
  left: 1064px;
  width: 186px;
}
.div152 {
  left: 1381px;
  width: 173px;
}
.tittle {
  top: 471px;
  left: 355px;
}
.category-div,
.contents-div,
.movie,
.tittle {
  position: absolute;
  display: inline-block;
}
.contents-div {
  top: 543px;
  left: 370px;
  font-size: var(--font-size-2xs);
  color: #a7a7a7;
}
.category-div,
.movie {
  top: 470px;
  left: 981px;
}
.category-div {
  left: 1279px;
}
.action-div,
.confirm-div,
.div153 {
  position: absolute;
  font-size: var(--font-size-xs);
  color: var(--color-gray-400);
  display: inline-block;
}
.confirm-div {
  top: 431px;
  left: 1518px;
  cursor: pointer;
}
.action-div,
.div153 {
  top: 476px;
  left: 1435px;
}
.div153 {
  top: 477px;
  left: 1123px;
}
.color-icon11 {
  position: absolute;
  height: calc(100% - 3px);
  width: calc(100% - 3px);
  top: 3px;
  right: 0;
  bottom: 0;
  left: 3px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconcontentcreate-24px-div3 {
  position: absolute;
  top: 428px;
  left: 1495px;
  width: 18px;
  height: 18px;
}
.color-icon12 {
  position: absolute;
  width: calc(100% - 6px);
  top: calc(50% - 6px);
  right: 3px;
  left: 3px;
  max-width: 100%;
  overflow: hidden;
  height: 12px;
}
.boundary-div3,
.iconcontentfilter-list-24px-div,
.iconcontentfilter-list-24px-div1 {
  position: absolute;
  top: 474px;
  left: 1212px;
  width: 24px;
  height: 24px;
}
.boundary-div3,
.iconcontentfilter-list-24px-div1 {
  left: 1519px;
}
.boundary-div3 {
  top: 389px;
  left: 1545.03px;
  transform: rotate(45deg);
  cursor: pointer;
}
.color-icon14 {
  position: absolute;
  top: 398.37px;
  left: 1545.37px;
  width: 22.63px;
  height: 22.63px;
}
.afterlogin-moviepagereviewt-div3 {
  position: relative;
  background-color: var(--color-gray-800);
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-1000);
  font-family: var(--font-roboto);
}
