body {
  margin: 0;
  line-height: normal;
}
.div111 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1920px;
  height: 120px;
}
.tgv-logo-icon3 {
  position: absolute;
  top: 30.13px;
  left: 40px;
  width: 120px;
  height: 59.73px;
  object-fit: cover;
}
.tgv-b4,
.tu-golden-village3 {
  position: absolute;
  display: inline-block;
}
.tgv-b4 {
  top: 0;
  left: calc(50% - 35px);
}
.tu-golden-village3 {
  bottom: 0;
  left: 0;
  font-size: var(--font-size-lg);
}
.div112 {
  position: absolute;
  top: 26px;
  left: 881px;
  width: 158px;
  height: 74px;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-1000);
}
.logout-div2 {
  top: calc(50% - 13.5px);
  left: calc(50% - 30.5px);
  display: inline-block;
}
.div113,
.div116,
.logout-div2 {
  position: absolute;
}
.div113 {
  top: 40px;
  right: 40px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-600);
  width: 111px;
  height: 41px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.div116 {
  top: calc(50% - 8.5px);
  right: 15px;
  display: inline-block;
}
.color-icon6 {
  position: absolute;
  height: calc(100% - 6px);
  width: calc(100% - 6px);
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconcontentcreate-24px-div1 {
  position: absolute;
  top: calc(50% - 11.5px);
  left: 16px;
  width: 24px;
  height: 24px;
}
.div114,
.div115 {
  position: absolute;
}
.div115 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
}
.div114 {
  top: 309px;
  right: 218px;
  width: 107px;
  height: 41px;
  cursor: pointer;
  font-size: var(--font-size-xs);
  color: var(--color-gray-400);
}
.div117,
.div118 {
  position: absolute;
  top: 362px;
  left: 210px;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  width: 1500px;
  height: 443px;
}
.div118 {
  border-radius: var(--br-lg) var(--br-lg) 0 0;
  background-color: var(--color-gray-100);
  height: 53px;
}
.b66,
.b67,
.category-b1,
.div119,
.title-b {
  position: absolute;
  top: 377px;
  left: 334px;
  display: inline-block;
}
.b66,
.b67,
.category-b1,
.title-b {
  left: 1259px;
  color: var(--color-gray-1000);
}
.b67,
.category-b1,
.title-b {
  top: 378px;
  left: 1468px;
}
.category-b1,
.title-b {
  top: 377px;
  left: 257px;
}
.category-b1 {
  left: 486px;
}
.p4 {
  margin: 0;
}
.b68,
.div120,
.div121,
.div122,
.user1-div {
  position: absolute;
  left: 266px;
  display: inline-block;
}
.div120 {
  top: 529px;
  font-size: var(--font-size-xs);
}
.b68,
.div121,
.div122,
.user1-div {
  top: 471px;
}
.div121,
.div122,
.user1-div {
  top: 377px;
  left: 595px;
}
.div122,
.user1-div {
  top: 378px;
  left: 1345px;
}
.div122 {
  left: 1532px;
}
.boundary-div1 {
  position: absolute;
  top: 18px;
  left: 992px;
  width: 24px;
  height: 24px;
}
.color-icon7 {
  position: absolute;
  height: calc(100% - 11.31px);
  width: calc(100% - 11.31px);
  top: 6.36px;
  right: 6.36px;
  bottom: 4.95px;
  left: 4.95px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div123 {
  position: absolute;
  top: 371.53px;
  right: 228px;
  width: 33.94px;
  height: 33.94px;
  cursor: pointer;
}
.afterlogin-moviepagereviewt-div1 {
  position: relative;
  background-color: var(--color-gray-800);
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
