body {
  margin: 0;
  line-height: normal;
}
.div200 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1920px;
  height: 120px;
}
.tgv-logo-icon8 {
  position: absolute;
  top: 30.13px;
  left: 40px;
  width: 120px;
  height: 59.73px;
  object-fit: cover;
}
.tgv-b11,
.tu-golden-village8 {
  position: absolute;
  display: inline-block;
}
.tgv-b11 {
  top: 0;
  left: calc(50% - 35px);
}
.tu-golden-village8 {
  bottom: 0;
  left: 0;
  font-size: var(--font-size-lg);
}
.div201 {
  position: absolute;
  top: 26px;
  left: 881px;
  width: 158px;
  height: 74px;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-1000);
}
.logout-div7 {
  top: calc(50% - 13.5px);
  left: calc(50% - 30.5px);
  display: inline-block;
}
.div202,
.div203,
.logout-div7 {
  position: absolute;
}
.div202 {
  top: 40px;
  right: 40px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-600);
  width: 111px;
  height: 41px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.div203 {
  top: 351px;
  left: 347px;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  width: 1226px;
  height: 480px;
}
.b135,
.div204,
.div205,
.div206 {
  position: absolute;
  top: 447px;
  left: 662px;
  display: inline-block;
}
.div204,
.div205,
.div206 {
  top: 502px;
  font-size: var(--font-size-2xs);
}
.div205,
.div206 {
  left: 816px;
}
.div206 {
  top: 528px;
  left: 662px;
}
.p18 {
  margin: 0;
}
.div207,
.icon2 {
  position: absolute;
}
.div207 {
  top: 556px;
  left: 662px;
  font-size: var(--font-size-3xs);
  display: inline-block;
}
.icon2 {
  top: 447px;
  left: 390px;
  border-radius: var(--br-sm);
  width: 242px;
  height: 344px;
  object-fit: cover;
}
.b136 {
  top: 440px;
  left: 1024px;
}
.b136,
.b137,
.b138 {
  position: absolute;
  display: inline-block;
}
.b137 {
  top: 440px;
  left: 1106px;
  color: var(--color-gray-300);
}
.b138 {
  left: 1065px;
}
.b138,
.b139,
.b140 {
  top: 440px;
  color: var(--color-gray-300);
}
.b139 {
  position: absolute;
  left: 1147px;
  display: inline-block;
}
.b140 {
  left: 1188px;
}
.b140,
.b141,
.div208 {
  position: absolute;
  display: inline-block;
}
.b141 {
  top: 440px;
  left: 1229px;
  color: var(--color-gray-300);
}
.div208 {
  top: 427px;
  left: 1024px;
  font-size: var(--font-size-3xs);
}
.color-icon19 {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 3.4px);
  width: 7.4px;
  height: 12px;
}
.boundary-div5,
.iconnavigationchevron-right-div2 {
  position: absolute;
  top: 440px;
  left: 1260px;
  width: 24px;
  height: 24px;
}
.boundary-div5 {
  top: 441px;
  left: 990px;
  transform: rotate(180deg);
}
.color-icon20 {
  position: absolute;
  top: 447px;
  left: 998px;
  width: 7.4px;
  height: 12px;
}
.tgv-b12 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.div209 {
  position: absolute;
  top: 379px;
  left: 390px;
  width: 70px;
  height: 48px;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-1000);
}
.div211 {
  top: 0;
}
.div211,
.div212,
.div213 {
  position: absolute;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  width: 165px;
  height: 88px;
}
.div212 {
  bottom: 0;
}
.div213 {
  top: calc(50% - 44px);
}
.div214 {
  top: 0;
}
.div214,
.div215,
.div216 {
  position: absolute;
  left: calc(50% - 82.5px);
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  width: 165px;
  height: 88px;
}
.div215 {
  bottom: 0;
}
.div216 {
  top: calc(50% - 44px);
}
.div217 {
  top: 0;
}
.div217,
.div218,
.div219 {
  position: absolute;
  right: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  width: 165px;
  height: 88px;
}
.div218 {
  bottom: 0;
}
.div219 {
  top: calc(50% - 44px);
}
.span21 {
  color: var(--color-gray-300);
}
.div220,
.div221 {
  position: absolute;
  top: calc(50% - 102px);
  display: inline-block;
}
.div220 {
  left: 45px;
}
.div221 {
  left: calc(50% - 37.5px);
}
.div222,
.div223 {
  right: 43px;
  display: inline-block;
}
.div222 {
  position: absolute;
  top: calc(50% - 102px);
}
.div223 {
  bottom: 15px;
}
.div223,
.div224,
.div225 {
  position: absolute;
}
.div224 {
  top: calc(50% + 5px);
  right: 43px;
  display: inline-block;
}
.div225 {
  bottom: 15px;
  left: calc(50% - 38.5px);
}
.div225,
.div226,
.div227 {
  display: inline-block;
}
.div226 {
  position: absolute;
  top: calc(50% + 5px);
  left: calc(50% - 38.5px);
}
.div227 {
  bottom: 15px;
  left: 42px;
}
.div227,
.div228,
.div229 {
  position: absolute;
}
.div228 {
  top: calc(50% + 5px);
  left: 42px;
  display: inline-block;
}
.div229 {
  top: 12px;
  left: 52px;
}
.div229,
.div230,
.div231,
.div232 {
  width: 62px;
  height: 32px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-1000);
}
.div230 {
  position: absolute;
  top: 12px;
  left: calc(50% - 30.5px);
}
.div231,
.div232 {
  right: 52px;
}
.div231 {
  position: absolute;
  top: 12px;
}
.div232 {
  top: calc(50% + 75px);
}
.div232,
.div233,
.div234 {
  position: absolute;
}
.div233 {
  top: calc(50% - 34px);
  right: 52px;
  width: 62px;
  height: 32px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-1000);
}
.div234 {
  top: calc(50% + 75px);
  left: calc(50% - 31.5px);
}
.div234,
.div235,
.div236,
.div237 {
  width: 62px;
  height: 32px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-1000);
}
.div235 {
  position: absolute;
  top: calc(50% - 34px);
  left: calc(50% - 31.5px);
}
.div236,
.div237 {
  left: 49px;
}
.div236 {
  position: absolute;
  top: calc(50% + 75px);
}
.div237 {
  top: calc(50% - 34px);
}
.div210,
.div237,
.div238 {
  position: absolute;
}
.div210 {
  top: 485px;
  left: 982px;
  width: 535px;
  height: 306px;
  cursor: pointer;
}
.div238 {
  top: 440px;
  left: 1423px;
  width: 65px;
  height: 26px;
  font-size: var(--font-size-lg);
  color: var(--color-gray-1000);
}
.not-reserved-div {
  position: absolute;
  top: 444px;
  left: 1325px;
  font-size: var(--font-size-xs);
  font-family: var(--font-segoe-ui);
  color: var(--color-gray-700);
  display: inline-block;
  width: 87px;
  height: 20px;
}
.color-icon21 {
  position: absolute;
  height: calc(100% - 11.31px);
  width: calc(100% - 11.31px);
  top: 6.36px;
  right: 6.36px;
  bottom: 4.95px;
  left: 4.95px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div239 {
  position: absolute;
  top: 393.06px;
  left: 1483.06px;
  width: 33.94px;
  height: 33.94px;
  cursor: pointer;
}
.afterlogin-moviepagemovieta-div3 {
  position: relative;
  background-color: var(--color-gray-800);
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
