body {
  margin: 0;
  line-height: normal;
}
.div154 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1920px;
  height: 120px;
}
.tgv-logo-icon6 {
  position: absolute;
  top: 30.13px;
  left: 40px;
  width: 120px;
  height: 59.73px;
  object-fit: cover;
}
.tgv-b7,
.tu-golden-village6 {
  position: absolute;
  display: inline-block;
}
.tgv-b7 {
  top: 0;
  left: calc(50% - 35px);
}
.tu-golden-village6 {
  bottom: 0;
  left: 0;
  font-size: var(--font-size-lg);
}
.div155 {
  position: absolute;
  top: 26px;
  left: 881px;
  width: 158px;
  height: 74px;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-1000);
}
.logout-div5 {
  top: calc(50% - 13.5px);
  left: calc(50% - 30.5px);
  display: inline-block;
}
.div156,
.div157,
.logout-div5 {
  position: absolute;
}
.div156 {
  top: 40px;
  right: 40px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-600);
  width: 111px;
  height: 41px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.div157 {
  top: 351px;
  left: 347px;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  width: 1226px;
  height: 480px;
}
.b119,
.div158,
.div159,
.div160 {
  position: absolute;
  top: 447px;
  left: 662px;
  display: inline-block;
}
.div158,
.div159,
.div160 {
  top: 502px;
  font-size: var(--font-size-2xs);
}
.div159,
.div160 {
  left: 816px;
}
.div160 {
  top: 528px;
  left: 662px;
}
.p14 {
  margin: 0;
}
.div161 {
  position: absolute;
  top: 556px;
  left: 662px;
  font-size: var(--font-size-3xs);
  display: inline-block;
}
.div162,
.div163 {
  position: absolute;
  left: 982px;
}
.div162 {
  top: 485px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  width: 165px;
  height: 88px;
}
.div163 {
  top: 703px;
}
.div163,
.div164,
.div165,
.div166 {
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  width: 165px;
  height: 88px;
}
.div164 {
  position: absolute;
  top: 594px;
  left: 982px;
}
.div165,
.div166 {
  left: 1167px;
}
.div165 {
  position: absolute;
  top: 485px;
}
.div166 {
  top: 703px;
}
.div166,
.div167,
.div168 {
  position: absolute;
}
.div167 {
  top: 594px;
  left: 1167px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  width: 165px;
  height: 88px;
}
.div168 {
  top: 485px;
}
.div168,
.div169,
.div170 {
  left: 1352px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  width: 165px;
  height: 88px;
}
.div169 {
  position: absolute;
  top: 703px;
}
.div170 {
  top: 594px;
}
.b120,
.div170,
.icon1 {
  position: absolute;
}
.icon1 {
  top: 447px;
  left: 390px;
  border-radius: var(--br-sm);
  width: 242px;
  height: 344px;
  object-fit: cover;
}
.b120 {
  top: 440px;
  left: 1024px;
  display: inline-block;
}
.span12 {
  color: var(--color-gray-300);
}
.div171 {
  position: absolute;
  top: 536px;
  left: 1027px;
  display: inline-block;
}
.div172,
.div173,
.div174,
.div175,
.div176,
.div177,
.div178 {
  position: absolute;
  top: 536px;
  left: 1212px;
  display: inline-block;
}
.div173,
.div174,
.div175,
.div176,
.div177,
.div178 {
  left: 1396px;
}
.div174,
.div175,
.div176,
.div177,
.div178 {
  top: 752px;
}
.div175,
.div176,
.div177,
.div178 {
  top: 643px;
}
.div176,
.div177,
.div178 {
  top: 752px;
  left: 1211px;
}
.div177,
.div178 {
  top: 643px;
}
.div178 {
  top: 752px;
  left: 1024px;
}
.div179 {
  top: 643px;
  left: 1024px;
}
.b121,
.b122,
.div179 {
  position: absolute;
  display: inline-block;
}
.b121 {
  top: 440px;
  left: 1106px;
  color: var(--color-gray-300);
}
.b122 {
  left: 1065px;
}
.b122,
.b123,
.b124 {
  top: 440px;
  color: var(--color-gray-300);
}
.b123 {
  position: absolute;
  left: 1147px;
  display: inline-block;
}
.b124 {
  left: 1188px;
}
.b124,
.b125,
.div180 {
  position: absolute;
  display: inline-block;
}
.b125 {
  top: 440px;
  left: 1229px;
  color: var(--color-gray-300);
}
.div180 {
  top: 427px;
  left: 1024px;
  font-size: var(--font-size-3xs);
}
.color-icon15 {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 3.4px);
  width: 7.4px;
  height: 12px;
}
.boundary-div4,
.iconnavigationchevron-right-div1 {
  position: absolute;
  top: 440px;
  left: 1260px;
  width: 24px;
  height: 24px;
}
.boundary-div4 {
  top: 441px;
  left: 990px;
  transform: rotate(180deg);
}
.color-icon16 {
  top: 447px;
  left: 998px;
  width: 7.4px;
  height: 12px;
}
.color-icon16,
.div181,
.div182 {
  position: absolute;
}
.div181 {
  top: 379px;
  left: 390px;
  width: 70px;
  height: 48px;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-1000);
}
.div182 {
  top: 497px;
  left: 1034px;
}
.div182,
.div183,
.div184,
.div185 {
  width: 62px;
  height: 32px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-1000);
}
.div183 {
  position: absolute;
  top: 497px;
  left: 1219px;
}
.div184,
.div185 {
  left: 1403px;
}
.div184 {
  position: absolute;
  top: 497px;
}
.div185 {
  top: 713px;
}
.div185,
.div186,
.div187 {
  position: absolute;
}
.div186 {
  top: 604px;
  left: 1403px;
  width: 62px;
  height: 32px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-1000);
}
.div187 {
  top: 713px;
  left: 1218px;
}
.div187,
.div188,
.div189 {
  width: 62px;
  height: 32px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-1000);
}
.div188 {
  position: absolute;
  top: 604px;
  left: 1218px;
}
.div189 {
  top: 713px;
  left: 1031px;
}
.a-2-b,
.div189,
.div190 {
  position: absolute;
}
.div190 {
  top: 604px;
  left: 1031px;
  width: 62px;
  height: 32px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-1000);
}
.a-2-b {
  top: 0;
  left: 0;
  display: inline-block;
}
.div191,
.reserved-div {
  position: absolute;
  top: 440px;
  left: 1423px;
  width: 89px;
  height: 26px;
  font-size: var(--font-size-lg);
  color: var(--color-gray-1000);
}
.reserved-div {
  top: 444px;
  left: 1325px;
  font-size: var(--font-size-xs);
  font-family: var(--font-segoe-ui);
  color: var(--color-gray-700);
  display: inline-block;
  width: 87px;
  height: 20px;
}
.color-icon17 {
  position: absolute;
  height: calc(100% - 11.31px);
  width: calc(100% - 11.31px);
  top: 6.36px;
  right: 6.36px;
  bottom: 4.95px;
  left: 4.95px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div192 {
  position: absolute;
  top: 393.06px;
  left: 1483.06px;
  width: 33.94px;
  height: 33.94px;
  cursor: pointer;
}
.afterlogin-moviepagemovieta-div1 {
  position: relative;
  background-color: var(--color-gray-800);
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
