body {
  margin: 0;
  line-height: normal;
}
.div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1920px;
  height: 120px;
}
.tgv-logo-icon1 {
  position: absolute;
  top: 30.13px;
  left: 40px;
  width: 120px;
  height: 59.73px;
  object-fit: cover;
}
.tgv-b1,
.tu-golden-village1 {
  position: absolute;
  display: inline-block;
}
.tgv-b1 {
  top: 0;
  left: calc(50% - 35px);
}
.tu-golden-village1 {
  bottom: 0;
  left: 0;
  font-size: var(--font-size-lg);
}
.div1 {
  position: absolute;
  top: 26px;
  left: 881px;
  width: 158px;
  height: 74px;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-1000);
}
.logout-div {
  position: absolute;
  top: calc(50% - 13.5px);
  left: calc(50% - 30.5px);
  display: inline-block;
}
.div2 {
  position: absolute;
  top: 40px;
  right: 40px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-600);
  width: 111px;
  height: 41px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.div3,
.div4 {
  position: absolute;
  top: 262px;
  left: 666px;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  width: 409px;
  height: 60px;
}
.div4 {
  left: 1115px;
  width: 140px;
}
.span {
  color: var(--color-gray-1000);
}
.b,
.color-icon {
  position: absolute;
}
.b {
  top: 279px;
  left: 1138px;
  font-size: var(--font-size-lg);
  display: inline-block;
  color: var(--color-gray-400);
}
.color-icon {
  height: calc(100% - 6px);
  width: calc(100% - 6px);
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconactionsearch-24px-div {
  position: absolute;
  top: 272px;
  left: 1015px;
  width: 40px;
  height: 40px;
}
.categories-div {
  position: absolute;
  top: 279px;
  left: 696px;
  font-size: var(--font-size-lg);
  font-weight: 100;
  color: var(--color-gray-300);
  display: inline-block;
}
.color-icon1 {
  position: absolute;
  top: 287.38px;
  left: 974px;
  width: 15px;
  height: 9.25px;
}
.div5 {
  bottom: 138px;
  left: 210px;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  width: 1500px;
  height: 500px;
  cursor: pointer;
}
.b1,
.div5,
.div6 {
  position: absolute;
}
.div6 {
  top: 442px;
  left: 210px;
  border-radius: var(--br-lg) var(--br-lg) 0 0;
  background-color: var(--color-gray-100);
  width: 1500px;
  height: 53px;
}
.b1 {
  top: 457px;
  left: 931px;
  display: inline-block;
}
.b2 {
  left: 525px;
}
.b2,
.b3,
.b4 {
  position: absolute;
  top: 457px;
  display: inline-block;
}
.b3 {
  left: 1297px;
}
.b4 {
  right: 302px;
}
.no-b {
  top: 457px;
  left: 257px;
}
.b5,
.b6,
.category-b,
.no-b {
  position: absolute;
  display: inline-block;
}
.category-b {
  top: 457px;
  left: 355px;
}
.b5,
.b6 {
  top: 0;
  left: calc(50% - 61.5px);
}
.b6 {
  left: calc(50% - 467.5px);
}
.b7,
.user1-b {
  position: absolute;
  top: 1px;
}
.b7 {
  left: 117px;
  display: inline-block;
}
.user1-b {
  left: calc(50% + 354.5px);
}
.b8,
.b9,
.user1-b {
  display: inline-block;
}
.b8 {
  position: absolute;
  top: 1px;
  right: -1px;
}
.b9 {
  top: 0;
  left: 0;
}
.b9,
.div8,
.div9 {
  position: absolute;
}
.div8 {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 25px;
}
.div9 {
  top: 45px;
}
.div10,
.div11,
.div9 {
  width: 100%;
  right: 0;
  left: 0;
  height: 25px;
}
.div10 {
  position: absolute;
  top: calc(50% - 110.5px);
}
.div11 {
  top: calc(50% - 65.5px);
}
.div11,
.div12,
.div13 {
  position: absolute;
}
.div12 {
  width: 100%;
  top: calc(50% - 20.5px);
  right: 0;
  left: 0;
  height: 25px;
}
.div13 {
  top: calc(50% + 24.5px);
}
.div13,
.div14,
.div15 {
  width: 100%;
  right: 0;
  left: 0;
  height: 25px;
}
.div14 {
  position: absolute;
  top: calc(50% + 69.5px);
}
.div15 {
  top: calc(50% + 114.5px);
}
.div15,
.div16,
.div7 {
  position: absolute;
}
.div16 {
  width: 100%;
  right: 0;
  bottom: 16px;
  left: 0;
  height: 25px;
}
.div7 {
  bottom: 157px;
  left: 257px;
  width: 1391px;
  height: 401px;
}
.card-backgroundsimple-div,
.rectangle-div1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.card-backgroundsimple-div {
  height: 100%;
  bottom: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.rectangle-div1 {
  height: 32px;
}
.label-div1 {
  position: absolute;
  top: calc(50% - 11px);
  left: 24px;
  display: inline-block;
}
.dropdownitem-div1 {
  position: relative;
  width: 300px;
  height: 32px;
  flex-shrink: 0;
}
.content-div {
  position: absolute;
  width: 100%;
  top: calc(50% - 64px);
  right: 0;
  left: 0;
  height: 128px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.dropdownmenuselect-div {
  position: absolute;
  top: 322px;
  left: 682px;
  width: 300px;
  height: 144px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-1100);
  font-family: var(--font-helveticaneue);
}
.div19 {
  position: absolute;
  top: calc(50% - 8.5px);
  right: 15px;
  display: inline-block;
}
.iconcontentcreate-24px-div {
  position: absolute;
  top: calc(50% - 11.5px);
  left: 16px;
  width: 24px;
  height: 24px;
}
.div17,
.div18 {
  position: absolute;
}
.div18 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
}
.div17 {
  top: 389px;
  right: 218px;
  width: 107px;
  height: 41px;
  cursor: pointer;
  font-size: var(--font-size-xs);
  color: var(--color-gray-400);
}
.afterlogin-moviepagereviewt-div {
  position: relative;
  background-color: var(--color-gray-800);
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
